<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e776bd7806.js"></script>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>
<body>


<section id="search-bar">
    <button class="btn" id="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
    <input id="search-field" placeholder="Search" type="text">
    <button class="btn" id="filter-btn"><i class="fa fa-solid fa-filter"></i></button>
    <button class="btn" id="search-btn"><i class="fa fa-solid fa-sort"></i></button>
</section>

<section id="blog-post">
    <div id="same-line">
        <p>Jalena Mathew</p>
        <p>Aug 1</p>
    </div>

    <h3><a href="">10 Best practices in Java</a></h3>
    <p>Java is a reliable and time-tested language. However, even
        the most experienced developers make mistakes from time to
        time. In order to write code that is easy to read and maintain,
        it’s important to follow best</p>

    <div id="same-line">
        <div class="tags">
            <p id="box">tags</p>
            <p id="box">tags</p>
            <p id="box">tags</p>
        </div>
        <button class="btn" id="delete-btn"><i class="fa fa-solid fa-trash"></i></button>
    </div>
</section>

<section id="blog-post">
    <div id="same-line">
        <p>Jalena Mathew</p>
        <p>Aug 1</p>
    </div>

    <h3>10 Best practices in Java</h3>
    <p>Java is a reliable and time-tested language. However, even
        the most experienced developers make mistakes from time to
        time. In order to write code that is easy to read and maintain,
        it’s important to follow best</p>
</section>

<section id="blog-post">
    <div id="same-line">
        <p>Jalena Mathew</p>
        <p>Aug 1</p>
    </div>

    <h3>10 Best practices in Java</h3>
    <p>Java is a reliable and time-tested language. However, even
        the most experienced developers make mistakes from time to
        time. In order to write code that is easy to read and maintain,
        it’s important to follow best</p>
</section>

<section id="blog-post">
    <div id="same-line">
        <p>Jalena Mathew</p>
        <p>Aug 1</p>
    </div>

    <h3>10 Best practices in Java</h3>
    <p>Java is a reliable and time-tested language. However, even
        the most experienced developers make mistakes from time to
        time. In order to write code that is easy to read and maintain,
        it’s important to follow best</p>
</section>
</body>
</html>
