<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>

    <script crossorigin="anonymous"
            src="https://kit.fontawesome.com/e776bd7806.js"></script>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blog</title>
</head>

<body>
<header>
    <nav id="nav-bar">
        <div id="same-line">
            <h1>blog.com</h1>
            <a id="draft" sec:authorize="isAuthenticated()" th:href="@{/drafts}">Drafts</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="nav-link btn" th:href="@{/login}">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="nav-link btn" th:href="@{/logout}"><span sec:authentication="name">Logout</span></a>
        </div>
    </nav>
</header>


<section id="filter">
    <div id="same-line">
        <h3>Filter By :</h3>
        <form th:action="@{/}">
            <input class="btn" type="submit" value="Clear">
        </form>
    </div>

    <form method="get" th:action="@{/}">
        <div class="container">
            <div id="category">
                <b>Author</b>
            </div>
            <div id="small" th:each="author : ${authorList}">
                <input class="child" name="authorId" th:text="${author}" th:value="${authorStat.index}" type="checkbox">
            </div>
        </div>

        <div class="container" th:object="${filter}">
            <div id="category">
                <b>Published Date & Time</b>
            </div>
            <span>Date from:</span> <input id="input-box" name="startPublishedDate" type="date" th:field="*{filter.dateFrom}">
            <span>Date to:</span><input id="input-box" name="endPublishedDate" type="date" th:field="*{filter.dateTo}">
        </div>

        <div class="container">
            <div id="category">
                <b>Tags</b>
            </div>
            <div id="small" th:each="tag : ${tagList}">
                <input class="child" name="tagId" th:text="${tag}" th:value="${tagStat.index}" type="checkbox">
            </div>
        </div>

        <input type="submit" value="Apply">

    </form>
</section>

<main>
    <section id="search-bar">
        <a class="btn" id="edit-btn" th:href="@{/newpost}"><i
                class="fa-solid fa-pen-to-square"></i></a>

        <form method="GET" th:action="@{/}">
            <input id="search-field" placeholder="Search" th:name="search"
                   th:value="${search}" type="search"/>
        </form>

        <form method="GET" th:action="@{/}">
            <div id="sort">
                <label for="sort">Sorted by: </label>
                <select id="search-field sort" name="order" onchange="this.form.submit()">
                    <option value="asc">Published At: ascending</option>
                    <option th:selected="${order == 'desc'}" value="desc">Published At: descending</option>
                </select>
                <input th:name="sortField" th:value="publishedAt" type="hidden"/>
                <!--					<input type="submit" value="Submit">-->
            </div>
        </form>
    </section>

    <div th:if="${search}">Showing Results for: <span th:text="${search}"></span></div>
    <div class="tags" th:if="${authorId} or ${tagId}">
        <p id="box" th:each="index : ${authorId}" th:text="${authorList[index]}"></p>
        <p id="box" th:each="index : ${tagid}" th:text="${tagList[index]}"></p>
    </div>

    <section th:if="${postList.empty}">
        <p class="center">Post Unavailable</p>
    </section>

    <section id="blog-post" th:each="post : ${postList}">
        <div id="same-line">
            <p th:text="${post.author}"></p>
            <p th:text="${#dates.format(post.publishedAt, 'dd MMM')}"></p>
        </div>

        <h3>
            <a th:href="@{/showPost/{id}(id=${post.id})}"
               th:text="${post.title}"></a>
        </h3>
        <p th:text="${post.excerpt}"></p>

        <div id="same-line">
            <div class="tags">
                <p id="box" th:each="tag : ${post.tag}" th:text="${tag.name}"></p>
            </div>

            <div th:if="${#authentication.name == post.user.username}">
                <a class="btn" id="delete-btn"
                   th:href="@{/delete/{id}(id=${post.id})}"><i class="fa fa-solid fa-trash"></i></a>
            </div>
        </div>
    </section>

    <nav aria-label="Page navigation example">
        <ul class="pagination" id="same-line">
            <li class="page-item" th:if="${currentPage != 0}"><a
                    class="page-link"
                    href="" th:href="@{'/?page='+${currentPage-1} +'&pageSize='+${pageSize}}">Previous</a></li>
            <li class="page-item" th:if="${currentPage < totalPage-1}"><a
                    class="page-link"
                    href="#" th:href="@{'/?page='+${currentPage+1}+'&pageSize='+${pageSize}}">Next</a></li>
        </ul>
    </nav>
</main>
</body>
</html>
