<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	  	xmlns:th="http:/ /www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/styles.css}" />
<script src="https://kit.fontawesome.com/e776bd7806.js"
	crossorigin="anonymous"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Blog</title>
</head>

<body>
	<header>
		
		<a th:if="${session.empty}" th:href="/login">Login</a>
	</header>
    <section id="search-bar">
        	<a th:href="@{/newpost}" id="edit-btn" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>

		<form method="GET" th:action="@{/}">
			<input id="search-field" type="text" placeholder="Search"
				th:value="${search}" th:name="search">
		</form>

		<form method="get" th:action="@{/}">
        	<button id="filter-btn" class="btn"><i class="fa fa-solid fa-filter"></i></button>
        </form>
        
        <form action="">
        	<button id="sort-btn" class="btn"><i class="fa fa-solid fa-sort"></i></button>
        </form>
    </section>
		<section th:if="${postList.empty}">
			<p class="center">Post Unavailable</p>
		</section>
	
		<section id="blog-post" th:each="post : ${postList}" >
			<div id="same-line">
				<p th:text="${post.author}"></p>
				<p th:text="${#dates.format(post.createdAt, 'dd MMM')}"></p>			
			</div>

			<h3>
				<a th:href="@{/showPost/{id}(id=${post.id})}" th:text="${post.title}"></a>
			</h3>
			<p th:text="${post.excerpt}"></p>

			<div id="same-line">
				<div class="tags" th:each="tag : ${post.tags}">
					<p id="box" th:text="${tag.name}"></p>
				</div>
					<a th:href="@{/delete/{id}(id=${post.id})}" id="delete-btn" class="btn"><i class="fa fa-solid fa-trash"></i></a>
			</div>
		</section>

</body>
</html>
