<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	xmlns:th="http:/ /www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/loginStyles.css}" />

<script src="https://kit.fontawesome.com/e776bd7806.js"
	crossorigin="anonymous"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- 	<header id="header">
		<div>
			<nav id="nav-bar">
				<h1>blog.com</h1>
				<a th:href="@{/}" class="nav-link">Home</a>
			</nav>
		</div>

	</header> -->

    <h1>Login</h1>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <input id="btn" type="submit" value="Submit">

    <p>Don't have an account? <a th:href="@{/register}">Create one</a></p>
        

</body>

</html>