<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	  	xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles2.css">
    <script src="https://kit.fontawesome.com/e776bd7806.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}">New Post</title>
</head>

<body>
	<form method="POST" th:action="@{/savePost}" th:object="${post}">
	<button class="btn" th:field=*{isPublished} th:value="1">Publish</button>
	<button class="btn" th:field=*{isPublished} th:value="0">Save</button>
	
		<section>
			<input id="title" type="text" placeholder="Title" th:field="*{title}" required>
		</section>

		<section>
			<textarea rows="30" id="content" placeholder="Write here.."
				th:field="*{content}"></textarea>
		</section>

		<section>
			<input id="tags" type="text" placeholder="Enter your space-seperated tags.." th:name="tagString" th:value="${tagString}">
		</section>	

		<section>
			<input id="author" type="text" placeholder="Name"
				th:field="*{author}" required>
		</section>
		
	</form>

</body>

</html>