<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/styles2.css" rel="stylesheet">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${post.title}">New Post</title>
</head>

<body>
<form method="POST" th:action="@{/savePost}" th:object="${post}">
    <button class="btn" th:name="publishType" th:value="1" type="submit">Publish</button>
    <button class="btn" th:name="publishType" th:value="0" type="submit">Save</button>

    <input th:field="*{id}" type="hidden">

    <section>
        <input id="title" placeholder="Title" required th:field="*{title}" type="text">
    </section>

    <section>
			<textarea id="content" placeholder="Write here.." rows="30"
                      th:field="*{content}"></textarea>
    </section>

    <section>
        <input id="tags" placeholder="Enter your space-seperated tags.." th:name="tagString" th:value="${tagString}"
               type="text">
    </section>

    <section th:if="${#authorization.expression('hasRole(''ROLE_AUTHOR'')')}">
        <input id="author" placeholder="Name" required th:disabled=true th:field="*{author}"
               th:name="author" type="text">
        <input th:field="*{author}" type="hidden">
    </section>

    <section th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <input id="author" placeholder="Name" required th:field="*{author}"
               th:name="author" type="text">
    </section>


</form>

</body>

</html>