<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/registerStyles.css" rel="stylesheet">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Site title</title>
</head>

<body>

<!--	<header id="header">-->
<!--		<div>-->
<!--			<nav id="nav-bar">-->
<!--				<h1>blog.com</h1>-->
<!--				<a th:href="@{/}" class="nav-link">Home</a>-->
<!--			</nav>-->
<!--		</div>-->

<!--	</header>-->

<h1>Create Account</h1>
<form method="post" th:action="@{/register}">

    <input name="username" placeholder="Name" type="text"/>

    <input name="email" placeholder="Email" type="email"/>

    <input name="password" placeholder="Password" type="password"/>

    <input name="confirm" placeholder="Confirm Password" type="password"/>

    <input id="btn" type="submit" value="Register"/>

    <p>Already have an account? <a href="/login">Login</a></p>

</form>

</body>

</html>