<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/registerStyles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site title</title>
</head>

<body>

<!-- 	<header id="header">
		<div>
			<nav id="nav-bar">
				<h1>blog.com</h1>
				<a th:href="@{/}" class="nav-link">Home</a>
			</nav>
		</div>

	</header> -->

    <h1>Create Account</h1>
    <form action="" th:action="@{/login}">
    
    	<input type="text" placeholder="Name" th:field="*{name}">
    
    	<input type="email" placeholder="Email" th:field="*{email}">
    
    	<input type="password" placeholder="Password" th:field="*{password}">
    
    	<input type="password" placeholder="Confirm Password">
    
    	<input id="btn" type="submit" value="Submit">

    	<p>Already have an account? <a href="/login">Login</a></p>
        
    </form>

</body>

</html>