<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	  	xmlns:th="http:/ /www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles3.css">
    <script src="https://kit.fontawesome.com/e776bd7806.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}"></title>
</head>

<body>

    <div>
        <p th:text="${post.author}"></p>
    </div>

    <article>
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.content}"></p>
        </article>

    <hr/>

    <section>
        <h4>Comment</h4>
        <form action="">
            <label for="name">Name</label>
            <input type="text">

            <label for="name">Email</label>
            <input type="email">

            <label for="name">Comment</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <button class="btn btn-info">Respond</button>
        </form>
        <div id="comment-box">
            <h4>Users_name</h4>
            <p>His constructive critisism or destructive criticism goes here..</p>
        </div>
        <div id="comment-box">
            <h4>Users_name</h4>
            <p>His constructive critisism or destructive criticism goes here..</p>
        </div>
        <div id="comment-box">
                <h4>Users_name</h4>
            <p>His constructive critisism or destructive criticism goes here..</p>
        </div>
    </section>

</body>

</html>