<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <link href="/styles3.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e776bd7806.js"></script>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>blog.com</title>
</head>

<body>

<div>
    <p th:text="${post.author}"></p>
</div>

<article>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.content}"></p>
</article>
<div th:if="${#authentication.name == post.user.username} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <a class="btn" id="edit-btn" th:href="@{/updatePost/{id}(id=${post.id})}">Update</a>
    <a class="btn" id="edit-btn" th:href="@{/delete/{id}(id=${post.id})}">Delete</a>
</div>
<hr/>

<section>
    <h4>Comment</h4>
    <form method="post" th:action="@{/comment/saveComment}" th:object="${comments}">
        <label for="name">Name</label>
        <input th:field="*{name}" th:value="${#authentication.name}" type="text">

        <label for="name">Email</label>
        <input th:field="*{email}" type="email">

        <input th:name="postId" th:value="${post.id}" type="hidden">

        <label for="name">Comment</label>
        <textarea cols="30" id="cBox" rows="10" th:field="*{message}"></textarea>

        <button class="btn">Respond</button>
    </form>
    <div id="comment-box" th:each="comment : ${post.comment}">
        <h4 th:text=${comment.name}></h4>
        <p th:text=${comment.message}></p>
        <div th:if="${#authentication.name == post.user.username}">
            <a class="btn" id="edit-btn" th:href="@{/comment/updateComment/{id}(id=${comment.id})}">Update</a>
            <a class="btn" id="edit-btn" th:href="@{/comment/delete/{id}(id=${comment.id})}">Delete</a>
        </div>
    </div>
</section>

</body>

</html>