<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <link href="/styles3.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<form method="post" th:action="@{/comment/saveComment}" th:object="${comment}">
    <label for="name">Name</label>
    <input th:field="*{name}" th:name="name" type="text">

    <input th:name="postId" th:value="${comment.post.id}" type="hidden">
    <input th:field="*{id}" type="hidden">

    <label for="name">Email</label>
    <input th:field="*{email}" th:name="email" type="email">

    <label for="name">Comment</label>
    <textarea cols="30" id="cBox" rows="10" th:field="*{message}" th:name="message"></textarea>

    <button class="btn">Update</button>
</form>
</body>
</html>